.nav{
  height: 90px;
  text-align: center;
  margin-top: 1px;
  background-color:rgb(170, 145, 194);
  border-bottom: black;
  border-bottom-width: 50;
  border-bottom-style: solid;
}


.li{
      font-weight: bold;
      display: inline-block;
      text-decoration: none;
      font-size: 20px;
      padding: 18px;
      
}

.h{
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}
.h:hover {
  transform: scale(1.1);
}
.h {
  transition: transform 0.3s ease;
}

.button{
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  margin-left: 5px;
  border-radius: 20%;
  transition: transform 0.3s ease;
}

.button:hover {
 
  transform: scale(1.1);
}

.input{
  font-size: 18px;
    margin-left: 5px;
    border-radius: 10%;
}