.wrapper{
  display: flex;
    margin: 1%;
    width: 1260px;
    justify-content: space-around;
  
  
}

/* .divs{
  display: flex;
    justify-content: space-between;
    align-content: space-around;
    padding: 1px;
    margin: 1px;
} */

.img{
  display: flex;
    margin-left: 50px;
   
    
}