.error{
  border: 3px solid red;
    color: rgb(145, 6, 34);
}



.wrapper{
  width: 700px;
    margin: 2% auto;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: large;
  margin-top: 0;
   
}

.pageContainer{
  height: 150vh;
    background-image: url('../Home/pacman.jpg');
    background-size: cover;
    background-position: center;
   margin-top: 0;
}

.h1{
  color: rgb(213, 191, 213);
    position: relative;
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
      font-size: 25px;
}
.form{
      background: rgb(230, 211, 246);
      border-radius: 25px;
      padding: 1.9em;
      margin-top: 30px;
      border: 3px solid rgb(9, 9, 11);
      box-shadow: 4px 3px 6px 2px rgb(41, 233, 240);
      justify-content: center;
}

.form input:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.form textarea:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.form input {
  transition: box-shadow 0.3s ease;
}
.form textarea {
  transition: box-shadow 0.3s ease;
}

.form button:hover {
  transform: scale(1.1);
}
.form button {
  transition: transform 0.3s ease;
}

.msgarea{
  display: flex;
      justify-content: center;
      margin: 3%
}
.msgarea >textarea {
  min-width: 18em;
  color: #0a0909;
  padding: 15px;
  border: 2px solid white;
  font-size: 18px;
  display: flex;
      justify-content: center;
}
.name{
    display: flex;
    margin: 1%;
    /* max-height: 50px; */
}
.container{
display: flex;
/* margin: 3%; */
    justify-content: center;
}


.img{
  max-width: 50%;
  margin: 1%;
}
.imglabel{
  display: flex;
    margin: 3%;
    /* justify-content: space-around; */
}
.labeldes{
  display: flex;
}

.reles{
  display: flex;
    margin: 3%;
    justify-content: center;
}
.rating{
  display: flex;
    margin: 3%;
      justify-content: center
}

.genre{
  display: flex;
  margin: 3%;
    justify-content: center
}
.errorsContainer {
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 14px;
}
